/*-=-=-=-=-=-=-=-=-=-=-=- css reset-=-=-=-=-=-=-=-=-=-=-*/
*{
    margin: 0;
    padding: 0;
}

/*-=-=-=-=-=-=-=-=-=-=-=- main canvas -=-=-=-=-=-=-=-=-=-=-=-=*/
main#canvas{
    width: 68.4vw;
    height: 45.5vw;
}

/*-=-=-=-=-=-=-=-=-=-=-= HTML5 semantic tags -=-=-=-=-=-=-=-=-*/
section{
    width: 16.66666666666667%;
    height: 100%;
    float: left;
}

article{
    width: 60%;
    height: 80%;
    margin-top: 41%;
    margin-left: 20%;
    float:left;
}

figure{
    width: 18%;
    height: 97%;
    margin-top: 8%;
    margin-left: 7%;
    float:left;  
}

/*-=-=-=-=-=-=-=-=-=-= css hover pseudo-classes -=-=-=-=-=-=-=-=-=-=-*/
.red:hover{
    background-color: black;
}

.orange:hover{
    background-color: pink;
}

.yellow:hover{
    background-color: purple;
}

.green:hover{
    background-color: blue;
}

.blue:hover{
    background-color: green;
}

.purple:hover{
    background-color: yellow;
}

.pink:hover{
    background-color: orange;
}

.black:hover{
    background-color: red;
}


/*-=-=-=-=-=-=-=-=-=-=-=- color classes -=-=-=-=-=-=-=-=-=-*/
.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.cyan{
    background-color: cyan;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.pink{
    background-color: pink;
}

.black{
    background-color: black;
}