/*-=-=-=- css reset -=-=-=-=-*/
*{
    margin: 0;
}

p{
    text-align: center;
    font-family: serif;
}

h1{
    font-size: 70px;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 70px;
    display: inline-block;
    text-align: center;
    border-style:ridge;
    border-radius: 7px;
    border-color:aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-size: 70px;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    font-size: 70px;
    display: inline-block;
    text-align: center;
    border-style: dotted;
    border-radius: 7px;
    border-color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5{
    font-size: 70px;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6{
    font-size: 70px;
    display: inline-block;
    text-align: center;
    border-style: dashed;
    border-radius: 7px;
    border-color:deepskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
