/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1000vw;
}

nav{
    position:fixed;
    top: 20vh;
    right: -10vw;
    z-index: 999;
}

ol{
    list-style-type: none;
}

a:link{
    display: inline-block;
    width: 20vw;
    height: 3vw;
    border: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-decoration: none;
    color: black;
}

a:hover span{
    font-size: 1.5vw;
    right: -0.5vw;
    top: -0.5vw;
    opacity: 1;
}

.button{
    width: 2.5vw;
}

span{
    font-size: 1.5vw;
    font-family: Londrina-Black;
    color: white;
    -webkit-text-stroke: black .05vw;
    opacity: 0;
    position: relative;
    top: 0.2vw;
    right: 1vw;
    white-space: nowrap;
    transition: right 0.2s, opacity 0.3s;
}


.road{
    position:relative;
    z-index: 99;
}

#content{
    background-image: url(../img/path.svg);
    background-repeat: no-repeat;
    background-position-x:center;
    margin-top: -1%;
    z-index: 0; 
}


#thing {
    display: flex;
    position: fixed;
    width:2vw;
    height:4vh;
    border-radius:100%;
    background:rgb(232, 155, 11);
    z-index: 1;
}

header{
    z-index: 999;
}

/* cover contents */
.top{
    background-size:cover;
    background-image: url(../img/cover.gif);
    height: 100vh;
    max-width: 500vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3;
    text-align: center;
}
    .top img {
        position: absolute;
        left: 50vh;
        bottom: -0.75vh;
        height: 100vh;
        z-index: 4;
    }


/* section one content */
.section-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}
    .section-one img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    #coverleft{
        position: absolute;
    }


/* section two content */
.section-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .section-two img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    #zionleft{
        position: absolute;
        left: -100px;
    }


/* section three content */
.section-three{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .section-three img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    #sandcavesleft{
        position: absolute;
        left: -100px;
    }

/* section four content */
.section-four{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .section-four img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    #konobleft{
        position:absolute;
        left: -50px;
    }

.section-five{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
    .section-five img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    #bryceright{
        position: absolute;
    }

.section-six{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
    .section-six img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    #bryceleftsky{
        position: absolute;
    }
    
    
.last{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
    .last img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }



@font-face{
    font-family: RacingSans;
    src: url(../../../fonts/RacingSans.ttf)
}

@font-face{
    font-family: Londrina-Black;
    src: url(../../../fonts/Londrina-Black.ttf);
}

h1{
    font-family: RacingSans;
    -webkit-text-stroke: black 1px;
    color: white;
    text-align: center;
    margin-right: 20%;
    margin-left: 10%;
    position: absolute;
    font-size: 7.5vw;
    margin-top: 10px;
}

p{
    font-family: Londrina-Black;
    color: rgb(232, 155, 11);
    -webkit-text-stroke: white 1px;
    text-align: center;
    font-size: 50px;
    margin-left: 1%;
}


section div p{
    position: absolute;
    left: 15%;
    font-size: 10em;
    white-space: nowrap;
    line-height: 25vh;
    animation: animate 20s linear infinite;
}

.com1{
    font-size: 4vh;
    margin-left: 61vw;
    margin-right: 10vw;
    margin-top: 6vh;
    position: absolute;
    font-family: RacingSans;
    color: black;
}

.com2{
    font-size: 3.4vh;
    margin-left: 1vw;
    margin-right: 59vw;
    margin-top: 101vh;
    margin-bottom: 0vh;
    position: absolute;
    font-family: RacingSans;
    color: black;
}
